body {
  text-align: center;
  background-color: bisque;
  margin: 50px;
}

#heading {
  color: blue;
  font-family: 'Oswald', sans-serif;
}

.title {
  color: cadetblue;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
}

p, ol {
  color: rgb(66, 66, 66);
  font-family: 'Courier New', Courier, monospace;
}

.day {
  color: rgb(65, 47, 47);
  /* margin: 20px; */
  width: 30%;
}

.details {
  background-color: darkolivegreen;
  color: rgb(149, 162, 84);
  padding: 50px 10px;
  border-radius: 15px;
}

#week {
  list-style-type: lower-greek;
  width: 50%;
  margin-left: 42%;
}

#arrow {
  font-size: 40px;
}

#daily-challenge {
  color: rgb(66, 66, 66);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 50px;
}

a {
  color: rgb(182, 55, 161);
  text-decoration: none;
  background-color: aquamarine;
  padding: 0 10px;
  border-radius: 10px;
}

a:hover {
  color: rgb(81, 165, 42);
  background-color: rgb(255, 127, 127);
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}