body {
  text-align: center;
  background-color: bisque;
  margin: 50px;
}

#heading {
  color: blue;
  font-family: 'Oswald', sans-serif;
}

.title {
  color: cadetblue;
  font-family: 'Oswald', sans-serif;
}

p {
  color: rgb(66, 66, 66);
  font-family: 'Courier New', Courier, monospace;
}

.day {
  color: rgb(65, 47, 47);
}

#arrow {
  font-size: 40px;
}

#daily-challenge {
  color: rgb(66, 66, 66);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 50px;
}

a {
  color: rgb(182, 55, 161);
  text-decoration: none;
}

a:hover {
  color: brown;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}