#heading {
  color: blue;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

p {
  color: rgb(66, 66, 66);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#daily-challenge {
  color: rgb(66, 66, 66);
  font-family: 'Fira Sans Condensed', sans-serif;
  text-align: center;
  font-size: 50px;
}

a {
  color: rgb(182, 55, 161);
  text-decoration: none;
}

a:hover {
  color: brown;
}