$color-background: #f3e9ff;
$color-title: #603ac8;
$color-section-background: #774ad8;
$color-font: #fff2fe;
$color-special-font: #fee7d7;
$color-selected-font: #2d0b51;
$color-selected-background: #ffefb1;
$color-btn: #f9c927;
