$color-background: #f3e9ff;
$color-title: #603ac8;
$color-section-background: #774ad8;
$color-font: #fff2fe;
$color-special-font: #fef06f;
$color-selected-font: #2d0b51;
$color-selected-background: #ffefb1;
$color-selected-background-hover: #fbdc60;
$color-btn: #f9c927;
$color-btn-hover: #f9a527;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	background-color: $color-background;
	text-align: center;
}

#basics {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;

	&__title {
		color: $color-title;
		margin-top: 20px;
		margin-bottom: 50px;
		font-weight: 900;
		text-shadow: 1px 1px 2px black;
	}

	&__icon {
		margin-bottom: 40px;
		height: 13%;
		width: 13%;
	}

	.special {
		color: $color-special-font;
		border-left: 5px solid $color-special-font;
	}

	.space {
		padding-left: 25px;
	}

	&__section {
		display: flex;
		flex-direction: column;
		align-content: flex-end;
		justify-content: left;
		text-align: left;
		height: 100%;
		width: 60%;
		margin-bottom: 100px;
		padding: 40px 20px;
		background-color: $color-section-background;
		border-radius: 5px;
		color: $color-background;
		font-family: 'Roboto', sans-serif;

		&--heading {
			font-weight: 900;
		}

		&--heading,
		&--htmlText,
		&--cssText {
			padding-bottom: 10px;
		}

		&--list {
			list-style-type: none;
			margin-bottom: 10px;
			font-weight: 400;
			&-item {
				margin-bottom: 10px;
				padding-left: 20px;
			}
		}

		&--reference {
			margin-bottom: 30px;
			font-weight: 400;
			&-link {
				background-color: $color-selected-background;
				padding: 5px 5px;
				border-radius: 5px;
				color: $color-selected-font;
				text-decoration: none;
				&:hover {
					background-color: $color-selected-background-hover;
				}
			}
		}
	}

	&__btn {
		background-color: $color-btn;
		padding: 5px 20px;
		border-radius: 5px;
		color: rgb(26, 26, 26);
		text-decoration: none;
		&:hover {
			background-color: $color-btn-hover;
		}
	}

	&__footer {
		margin: 30px 0;
	}
}
